openapi: 3.2.0
info:
  title: CUDO Compute Networks API
  description: REST API for the CUDO Compute global GPU and cloud compute platform and marketplace.
  termsOfService: https://www.cudocompute.com/legal/terms-of-service
  contact:
    name: CUDO Compute Support
    url: https://www.cudocompute.com/contact
  version: 1.0.0
servers:
- url: https://rest.compute.cudo.org
security:
- bearerAuth: []
tags:
- name: Networks
paths:
  /v1/projects/{projectId}/networks:
    get:
      operationId: listNetworks
      tags:
      - Networks
      summary: List networks
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: A list of networks
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNetwork
      tags:
      - Networks
      summary: Create a network
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkBody'
      responses:
        '200':
          description: Network created
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{projectId}/networks/{id}:
    get:
      operationId: getNetwork
      tags:
      - Networks
      summary: Get a network
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The requested network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteNetwork
      tags:
      - Networks
      summary: Delete a network
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Network deleted
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{projectId}/networks/{id}/start:
    post:
      operationId: startNetwork
      tags:
      - Networks
      summary: Start a network
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Network started
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{projectId}/networks/{id}/stop:
    post:
      operationId: stopNetwork
      tags:
      - Networks
      summary: Stop a network
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Network stopped
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{projectId}/networks/security-groups:
    get:
      operationId: listSecurityGroups
      tags:
      - Networks
      summary: List security groups
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: A list of security groups
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed; missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CreateNetworkBody:
      type: object
      properties:
        dataCenterId:
          type: string
        id:
          type: string
        cidrPrefix:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        status:
          type: string
    Network:
      type: object
      properties:
        id:
          type: string
        dataCenterId:
          type: string
        ipRange:
          type: string
        gateway:
          type: string
        externalIpAddress:
          type: string
        internalIpAddress:
          type: string
        shortState:
          type: string
        createTime:
          type: string
          format: date-time
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The resource identifier.
      schema:
        type: string
    projectId:
      name: projectId
      in: path
      required: true
      description: The project identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A CUDO Compute API key passed as a Bearer token in the Authorization header, e.g. `Authorization: Bearer $CUDO_API_KEY`. Create keys in the CUDO Compute dashboard. Missing or invalid keys return 401 UNAUTHENTICATED.'
